.iconWrapper > svg {
  margin: 1% 4% 1% 3%;
}

.iconWrapper > span {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-size: 20px;
  line-height: 44px;
  color: #000000;
}

.iconWrapper {
  display: flex;
  align-items: center;
}
