.fhWrapper {
  width: 100vmin;
  height: 100vmax;
  /* display: flex; */
}

.GuideWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vmax;
  justify-content: space-evenly;
}
