/* .HelperTagWrapper {

    width: 532px;
    height: 100px;
    background: #FD3A69;
    border-radius: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    
    color: #FFFFFF;
} */
