/* Group 9323 */

/* .detailProfileWrapper {
position: absolute;
width: 588px;
height: 752px;
left: 54px;
top: 582px;
} */

/* Rectangle 49 */
.detailProfileWrapper {
  box-sizing: border-box;

  height: 700.17px;
  width: 588px;

  background: #ffffff;
  border: 7px solid #fd3a69;
  border-radius: 30px;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detailHeader {
  height: 50px;
  margin: 0 3% 0 3%;
  display: flex;
  justify-content: space-between;
}
.detailTag {
  width: 165px;
  height: 49px;
  background: #ffd745;
  border-radius: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: center;

  color: #000000;
}
.detailProfileWrapper > .detailTag {
  margin-left: 3%;
}
.detailHeader > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  color: #000000;
}

.detailContent {
  display: flex;
  justify-content: center;
}

.detailContent > span {
  width: 500px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 70px;

  color: #000000;
}

.detailFooter {
  display: flex;
  justify-content: space-evenly;
}

.ttsBtn {
  width: 219px;
  height: 59px;
  background: #ed174f;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Polygon 5 */
/* .Polygon {
  box-sizing: border-box;

  position: absolute;
  width: 53.47px;
  height: 76.52px;
  left: 529.36px;
  top: 582px;

  background: #ffffff;
  border: 7px solid #fd3a69;
  transform: matrix(0.95, 0.3, -0.38, 0.92, 0, 0);
} */

/* Polygon 6 */

/* position: absolute;
width: 53.65px;
height: 53.88px;
left: 514.8px;
top: 608.32px;

background: #FFFFFF;
transform: matrix(0.98, 0.21, -0.27, 0.96, 0, 0); */

/* Rectangle 50 */

/* position: absolute;
width: 52px;
height: 28.99px;
left: 525px;
top: 639.98px;

background: #FFFFFF; */
