.detailProfileWrapper {
  box-sizing: border-box;

  height: 90vmin;
  width: 90vw;

  background: #ffffff;
  border: 5px solid #fd3a69;
  border-radius: 30px;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detailHeader {
  height: 50px;
  margin: 0 3% 0 3%;
  display: flex;
  justify-content: space-between;
}
.detailTag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 49px;
  background: #ffd745;
  border-radius: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  color: #000000;
}
.detailProfileWrapper > .detailTag {
  margin-left: 3%;
}
.detailHeader > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  /* identical to box height */

  color: #000000;
}

.detailContent {
  display: flex;
  justify-content: center;
}

.detailContent > span {
  width: 90vw;
  height: 30vmin;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 70px;

  color: #000000;
}

.detailFooter {
  display: flex;
  justify-content: space-evenly;
}

.ttsBtn {
  width: 40vw;
  height: 10vmin;
  background: #ed174f;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 39px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
