.HelperDetailWrapper {
  display: flex;
  width: 100vw;
}
.HelperProfileWrapper {
  display: flex;
  width: 100vw;
  height: 410px;
  border-bottom: 3px solid #808080;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 1%;
}

.HelperProfileWrapper > .HelperProfGrid1 > div > .HelperProfCon {
  margin-left: 10%;
}
