.ddmData {
  width: 638px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;

  color: #000000;
}
