.FindBtnWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FindBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90vw;
  height: 50px;

  background: #fd3a69;
  border-radius: 20px;

  margin-bottom: 2vmax;
}

.FindBtn > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;

  color: #ffffff;
}

.Guidebox {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 90vw;
  height: 45vh;
  border: 3px solid #ed174f;
}

.GuideText {
  width: 90vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 70px;

  text-align: center;

  color: #000000;
}

.HelperProfWrapper {
  display: flex;
  width: 100vw;
  height: 50vmax;
  border: none;
  border-bottom: 3px solid #ed174f;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-evenly;
}

.HelperProfWrappe > button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.HelperProfName {
  display: flex;
  justify-content: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;

  width: 20vw;
  height: 40px;
  border-bottom: 3px solid #fecd1a;
  margin-left: 10%;
}

.HelperProfCon {
  display: grid;
  grid-template-columns: 33vw 150px;
  grid-gap: 1px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  width: 90vw;
  height: 200px;
  align-items: center;
  margin-top: 10px;
}

.HelperProfGrid1 {
  display: grid;
  align-items: center;
  grid-gap: 2rem;
  grid-template-columns: 62.5vw 18px;
  margin-top: 3vmax;
}

.HelperProfImg > img {
  width: 25vw;
  height: 18vh;
}

.HelperTagWrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
}
.HelperTag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 55px;
  background: #223047;
  border-radius: 30px;
  margin-right: 3vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 60px;
  color: #fecd1a;
}
