.UserGPSWrapper {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  width: 90vw;
  height: 11vh;

  border: 4px solid #ed174f;
  border-radius: 39.5px;
}

.UserGPSWrapper > svg {
  margin-right: 1vw;
}

.mark {
  color: #424c7a;
  background-color: #fff;
  width: 30px;
  height: 30px;
  margin-left: 3%;
}
