.headWrapper {
  width: 100%;
  border-bottom: 3px solid #000000;
}

.logo {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 3%;
}

.loginBtn {
  display: flex;
  justify-content: flex-end;
}
/* 로그인 */
.login {
  background: #455a64;
  border-radius: 10px;

  margin: 1%;
  width: 160px;
  height: 60px;

  /* width: 86px;
    height: 36px; */

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}
