.domainWrapper {
  width: 100%;
  /* max-width: 768px; */
}

.domain {
  background: linear-gradient(
    180deg,
    rgba(255, 238, 176, 0.37) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-bottom: 3px solid #000;
  display: flex;
  height: 338px;
  align-items: flex-end;
  justify-content: center;
}
@media (max-width: 768px) {
  .selectWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 900px;
  }
  .helpWrapper > .helpAud {
    width: 300px;
  }
  .helpWrapper > .findHelp {
    width: 350px;
  }
  .findWrapper > .findAud {
    width: 300px;
  }
  .findWrapper > .findMap {
    width: 350px;
  }
}

@media (min-width: 768px) {
  .selectWrapper {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    /* margin: ; */
    /* height: 900px; */
    width: 100%;
  }

  .helpWrapper > .helpAud {
    width: 200px;
  }
  .helpWrapper > .findHelp {
    width: 250px;
  }
  .findWrapper > .findAud {
    width: 200px;
  }
  .findWrapper > .findMap {
    width: 250px;
  }
}
.selectWrapper {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 1000px; */
}

.selectBtn {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-evenly;
  margin: 5% 0% 5% 0%;
}

.selectBtn > .oldP {
  box-sizing: border-box;
  border: 6px solid #fd3a69;
  border-radius: 30px;
  width: 40%;
  background: #ffffff;

  /* 고령자 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.selectBtn > .helpP {
  width: 40%;
  background: #f1f1f1;
  border-radius: 30px;

  /* 요양사 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.4);
}

.helpWrapper {
  /* width: 760px; */
  /* height: 400px; */
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
  display: flex;
}
.helpWrapper > .helpAud {
  display: flex;
  height: 390px;
  /* width: 300px; */
  background: #f4f3f3;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}
.helpAud > a {
  width: 250px;
  height: 80px;
  margin: 1%;
}
.helpAud > img {
  width: 60px;
  height: 60px;
}

.helpWrapper > .findHelp {
  display: flex;
  /* width: 350px; */
  background: #ffeeb0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.helpBtn {
  height: 62px;
  width: 225px;
  background: #fb5d83;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.findHelp > img {
  width: 270px;
  height: 170px;
}

.findWrapper {
  /* width: 760px; */
  /* height: 400px; */
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
  display: flex;
}
.findWrapper > .findAud {
  display: flex;
  height: 390px;
  /* width: 300px; */
  background: #f4f3f3;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}
.findAud > a {
  width: 250px;
  height: 80px;
  margin: 1%;
}
.findAud > img {
  width: 60px;
  height: 60px;
}

.findWrapper > .findMap {
  display: flex;
  /* width: 350px; */
  background: #ffeeb0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.findBtn {
  height: 62px;
  width: 225px;
  background: #fb5d83;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.findMap > img {
  width: 270px;
  height: 170px;
}
